@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Martel+Sans:wght@600&display=swap');

* {

    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/Images/bg.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 62px;
    align-items: center;
}

nav img {
    color: rgb(250, 0, 0);
    margin-top: 25px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
    background-color: red;
}

.hero {
    font-family: "Cal Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 0px 30px;
}

.hero> :first-child {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.hero> :nth-child(4) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-weight: lighter;
    font-size: 22px;
    text-align: center;
}

.hero> :nth-child(5) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 10px;
}

.separation {
    background-color: rgb(52, 50, 50);
    height: 7px;
}

.btn {
    padding: 3px 8px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 4px;
    height: 36px;
    width: 110px;
    font-size: 17px;
    border: 0.1px solid rgb(238, 235, 235);
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 7px 15px 8px 14px;
    font-size: 20px;
    border-radius: 4px;
    border-color: red;
    height: 54px;
    width: 200px;
    font-weight: 400;
}

.btn-red-sn {
    background-color: red;
    color: white;
    border-radius: 4px;
    margin-left: 4px;
    height: 36px;
    width: 80px;
    border: 0px solid red;
}

.main input {
    padding: 7px 15px 8px 14px;
    font-size: 15px;
    color: white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
    height: 39px;
    border: 1px solid rgba(229, 229, 231, 0.4);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding-top: 20px;

}

@media screen and (max-width: 1300px) {
    .first{
        flex-wrap: wrap;
    }
}

.secImg img {
    width: 430px;
    position: relative;
    z-index: 10;
}

.secImg {
    position: relative;
}

.secImg video {
    position: absolute;
    top: 51px;
    width: 380px;
    right: 0;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 20px;
}
.faq h2{
    text-align: center;
}
.faq{
    background: black;
    color: white;
    padding: 24px;
}

.faqbox {
    display: flex;
    background-color: rgb(45,44,44);
    justify-content: space-between;
    padding: 24px;
    max-width: 70vw;
    margin: 4px auto;
    font-size: 25px;
    cursor: pointer;
    transition: all 1s ease-out;
}

.faqbox svg{
    filter: invert(1);
}
.faqbox1 svg{
    filter: invert(1);
}
.faqbox1 {
    display: flex;
    background-color: rgb(45,44,44);
    justify-content: space-between;
    padding: 24px;
    max-width: 70vw;
    margin: auto;
    margin-top: 24px;
    font-size: 25px;
    cursor: pointer;
    transition: all 1s ease-out;
}

.faqbox:hover{
    background-color: grey;
}
.faqbox1:hover{
    background-color: grey;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: auto;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer{
    color: rgb(168, 166, 166);
      max-width: 70vw;
    margin: auto;
    padding-bottom: 170px;

}
.footer a{
    color: rgb(164, 161, 161);
    font-size: 17px;
}
.questions{
  padding-top: 34px;
    padding-bottom: 23px;
}

.last{
    margin-top: 23px;
}

.net{
    margin-top: 56px;
    margin-bottom: 65px;
}